{% for R in reclamations %}
    <div class="col-md-6">
        <h2>Bienvenue!</h2>
        <h3>votre reclamation pour le service <span>{{ R.service }}</span> a ete  résolu.</h3>
        <h4>merci.</h4>
    </div>
{% endfor %}
